body {
    font-family: sans-serif;
    background: linear-gradient(to bottom, #87CEEB, #4682B4); /* Пример градиента для фона */
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 300px;
    padding: 20px;
}

.lesson-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shift-number {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    float: right;
}

#lesson1-name, #lesson2-name {
    font-size: 18px;
    margin-bottom: 5px;
}

#lesson1-time, #lesson2-time {
    font-size: 14px;
    color: #666;
}

.progress-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#lesson1-progress, #lesson2-progress {
    height: 100%;
    background-color: #4CAF50;
    width: 0%; /* Начальная ширина */
    transition: width 0.3s ease;
}
