html, body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #000000;
    color: #000000;
    
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    overflow-y: hidden;
    overflow-x: hidden;
    align-items: center;
    font-family: Consolas, sans-serif;
    background-color: #000000;
    color: #000000;
    font-size: 1.25rem;
    box-sizing: border-box;
    z-index: -1001;
}

/* Изображение проекта */
.large-image {
    width: 1000%; /* Изображение будет занимать 100% ширины контейнера */
    max-width: 1000%; /* Не выйдет за пределы */
    height: auto; /* Сохраняет пропорции */
    object-fit: contain; /* Обеспечивает, что изображение останется внутри контейнера */
    margin: 0,625rem auto;
    display: block;
    border-radius: 2%;
    opacity: 0;
    transform: scale(0.8);
}
/* Контейнер для текста проекта */
.swiper-slide .text-container {
    background-color: rgba(0, 96, 251, 0.123); /* Тёмный полупрозрачный фон */
    border-radius: 30px; /* Закругленные углы */
    padding: 0.625rem; /* Отступы вокруг текста */
    box-sizing: border-box; /* Чтобы отступы не выходили за пределы */
    margin-top: 0.625rem; /* Отступ сверху */
    margin-right: 20px; /* Отступ сверху */
}

/* Заголовок проекта */
.swiper-slide .text-container h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff; /* Белый цвет для текста */
    margin: 0; /* Убираем отступы */
}

/* Описание проекта */
.swiper-slide .text-container p {
    font-size: 18px;
    color: #ddd; /* Светлый цвет для описания */
    margin-top: 0.625rem; /* Отступ сверху */
}
/* Слайд Swiper */
.swiper-slide {
    display: flex;
    flex-direction: column; /* Выравниваем элементы по вертикали */
    justify-content: center; /* Центрируем контент по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center;
    width: 100%; /* Убираем лишние отступы */
    padding: 0.625rem;
}
/* Стили для изображений */
.swiper-slide img {
    width: 100%; /* Картинка будет масштабироваться по ширине слайда */
    max-width: 1700px; /* Максимальная ширина картинки */
    height: auto; /* Сохраняем пропорции */
    display: block;
    margin: 15px auto; /* Центрируем картинку с отступами */
    border-radius: 0.625rem; /* Стилизация */
}

/* Пагинация */
.swiper-pagination {
    position: absolute;
    bottom: 0.625rem;
}
.tile {
    color: #5b5b5b;
    background-color: rgba(1, 1, 1, 0.313);
    align-self: center;
    min-width: 10%;
    margin: 10px;
    padding: 15px;
    border-radius: 1.175rem;
    padding-bottom: 10px;
    border-bottom: 4px solid #00000042;
}

nav a:hover,
nav a:focus {
    background-color: #0b062a3d;
}

h1, h2 {
    font-size: 2rem;
    color: #3c8cce;
    text-align-last: center;
}

h3 {
    margin-left: 1.25rem;
    font-size: 1.875rem;
}
h4 {
    margin-left: 1.25rem;
    font-size: 0.875rem;
    color: #3c8cce48;
    text-align-last: center;
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 46.875rem) {
    .menu-icon {
        touch-action: manipulation;
    }

    h1, h2 {
        font-size: 1.6875rem;
    }
    h3 {
        font-size: 1.5625rem;
    }
    header {
        padding-left: 0rem;
        font-size: 1.0625rem;
        margin-top: 1.25rem;
        border-radius: 3.125rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
    }

}


@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.header-container {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    padding: 1px 20px;
    background-color: rgba(83, 220, 111, 0.628);
    border-bottom: 2px solid #00000023;
    backdrop-filter: blur(10px);
}
.header-container h2{
    color: #000000b1;
    font-family: 'Roboto', sans-serif;
}
.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-icon div {
    height: 4px;
    background-color: #000000d5;
    border-radius: 2px;
}

.tools-panel {
    position: absolute;
    top: 0.6rem;
    right: 5px;
    width: 15rem;
    height: 10rem;
    background-color: rgba(43, 43, 43, 0.833);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    border-radius: 1.125rem;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: right 0.25s ease, opacity 0.25s ease, visibility 0s ease 0.1s;
    backdrop-filter: blur(5px);
}

.tools-panel.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    right: 15px;
    transition: right 0.15s ease, opacity 0.15s ease, visibility 0s ease 0s;
}

.tools-panel.active + .menu-icon {
    display: none;
}

.tools-panel c {
    color: #2fbc7a;
    padding-bottom: 1px;
    border-bottom: 4px solid #00000060;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.5625rem;
}

.tools-panel a {
    color: rgb(114, 114, 114);
    padding-bottom: 1px;
    border-bottom: 4px solid #00000017;
    display: block;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.5625rem;
}

#snowflakes {
    position: absolute;
    top: 0;
    left: 50%;
    width: 92vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
    display: flex;
    justify-content: top;
    align-items: top;
    transform: translateX(-50%);
}

.snowflake {
    position: absolute;
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: url('snowflake.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite, fadeOut ease forwards;
}

@keyframes fall {
    0% {
        top: -10px;
        opacity: 1;
    }
    50% {
        top: 60vh;
        opacity: 0.8;
    }
    100% {
        top: 97vh;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.theme-toggle {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: 1.5rem;
    background-image: url('images/moon.svg');
}

body.light-theme .theme-toggle {
    background-image: url('images/sun.svg');
}


[data-theme="light"] {
    background-color: #ffffff;
    color: #000000;
}

[data-theme="light"] .header-container {
    background-color: #a5c1e3;
}

[data-theme="light"] .tools-panel {
    background-color: rgba(140, 189, 232, 0.833);
}

[data-theme="light"] body {
 background-color: #afbfdf;
}


