/* Убираем горизонтальную прокрутку */
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px; /* 1rem = 16px */
}

body {
    font-family: Consolas, sans-serif;
    background-color: #000;
    color: #b9b4b4;
    font-size: 1.25rem; /* Размер шрифта 20px */
}
.section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 100, 100, 0.215);
    padding: 0.4375rem; /* 7px */
    margin: 1.5625rem; /* 25px */
    border-radius: 1.875rem; /* 30px */
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
    transform: translateY(1.875rem);
    animation: fadeInZoom 0.4s ease-out forwards;
}
header {
    background-color: #ffffff06;
    color: #fff;
    padding: 0;
    text-align: left;
    padding-left: 1.25rem;
    font-size: 1.5625rem; /* 25px */
    margin-top: 1.25rem;
    border-radius: 3.125rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

nav a:hover,
nav a:focus {
    background-color: #0b062a3d;
}

.container {
    margin: 1.25rem;
}

h1, h2 {
    margin-left: 1.25rem;
    font-size: 2.5rem; /* 40px */
    color: #78b89a;
}

h3 {
    margin-left: 1.25rem;
    font-size: 1.875rem; /* 30px */
}

.social-icon {
    width: 6.25rem; /* 100px */
    height: 6.25rem;
    border-radius: 0.9375rem; /* 15px */
    transition: transform 0.3s ease;
    display: inline-block;
    object-fit: cover;
}

.section {
    background-color: rgba(99, 100, 100, 0.215);
    padding: 0.4375rem; /* 7px */
    margin: 1.5625rem; /* 25px */
    border-radius: 1.875rem; /* 30px */
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
    transform: translateY(1.875rem);
    animation: fadeInZoom 0.4s ease-out forwards;
}

.section2 {
    background-color: rgba(13, 113, 16, 0.9);
    padding: 1.25rem;
    margin: 1.25rem;
    border-radius: 1.875rem;
    box-shadow: 0 0 0.625rem rgba(79, 79, 79, 0.1);
}

.section3 {
    margin: 1.5625rem; /* 25px */
    padding: 2.5rem; /* Много отступов вокруг контента */
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.avatar-container {
    display: flex;
    align-items: center;  /* Выровнять по вертикали */
    justify-content: center;  /* Центрировать по горизонтали */
    margin: 1.25rem;
}




.name-weather {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    margin-left: 1.25rem;
}



.avtext {
    font-size: 3.75rem; /* 60px */
    color: #81bda6;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
    margin-left: 1.25rem; /* Отступ между аватаром и текстом */
}

.weather-icon {
    font-size: 2.8125rem; /* 45px */
}

.lesson-info {
    font-size: 2.8125rem; /* 45px */
    padding: -2rem;
}

.local-time {
    font-size: 2.8125rem;
    margin-top: 0.625rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    gap: 0.3125rem;
}

@media (max-width: 46.875rem) { /* 750px */
    h1, h2 {
        font-size: 2.1875rem; /* 35px */
    }
    h3 {
        font-size: 1.5625rem; /* 25px */
    }
    .avatar-container {
        flex-direction: column;
    }
    .local-time {
        font-size: 1.5625rem; /* 25px */
    }
    .lesson-info {
        font-size: 1.5625rem; /* 25px */
    }
    .weather-icon {
        font-size: 1.5625rem; /* 25px */
    }

    
    .avatar {
        width: 6.875rem; /* 110px */
        height: 6.875rem;
        border-radius: 50%;
    }
}

.socials-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem; /* 30px */
}

.social-icon:hover {
    transform: scale(1.1);
    border-radius: 3.125rem; /* 50px */
}

@media (min-width: 46.875rem) {
    .avatar-container {
        flex-direction: row;
        align-items: flex-start;
    }
    .avatar {
        width: 15.625rem; /* 250px */
        height: 15.625rem;
        border-radius: 50%;
    }
    .avtext {
        font-size: 3.75rem;
        margin-top: 5.4375rem; /* 183px */
    }
}

.videoback {
    position: relative;
    padding: 7px;
    margin: 25px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transform: translateY(30px);
    animation: fadeInZoom 0.4s ease-out forwards;
}
/* Изображение проекта */
.large-image {
    width: 1000%; /* Изображение будет занимать 100% ширины контейнера */
    max-width: 1000%; /* Не выйдет за пределы */
    height: auto; /* Сохраняет пропорции */
    object-fit: contain; /* Обеспечивает, что изображение останется внутри контейнера */
    margin: 0,625rem auto;
    display: block;
    border-radius: 2%;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInZoom 0.4s ease-out forwards;
}

/* Контейнер для текста проекта */
.swiper-slide .text-container {
    background-color: rgba(0, 96, 251, 0.123); /* Тёмный полупрозрачный фон */
    border-radius: 30px; /* Закругленные углы */
    padding: 0,625rem; /* Отступы вокруг текста */
    box-sizing: border-box; /* Чтобы отступы не выходили за пределы */
    margin-top: 0,625rem; /* Отступ сверху */
    margin-right: 20px; /* Отступ сверху */
}

/* Заголовок проекта */
.swiper-slide .text-container h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff; /* Белый цвет для текста */
    margin: 0; /* Убираем отступы */
}

/* Описание проекта */
.swiper-slide .text-container p {
    font-size: 18px;
    color: #ddd; /* Светлый цвет для описания */
    margin-top: 0,625rem; /* Отступ сверху */
}
.background-video {
    border-radius: 30px; /* Закругленные углы */
}
/* Слайд Swiper */
.swiper-slide {
    display: flex;
    flex-direction: column; /* Выравниваем элементы по вертикали */
    justify-content: center; /* Центрируем контент по вертикали */
    align-items: center; /* Центрируем по горизонтали */
    text-align: center;
    width: 100%; /* Убираем лишние отступы */
    padding: 0,625rem;
}

/* Плавный переход для цвета текста */
body, h1, h2 {
    transition: color 0.5s ease, background-color 0.5s ease;
}


/* Стили для изображений */
.swiper-slide img {
    width: 100%; /* Картинка будет масштабироваться по ширине слайда */
    max-width: 1700px; /* Максимальная ширина картинки */
    height: auto; /* Сохраняем пропорции */
    display: block;
    margin: 15px auto; /* Центрируем картинку с отступами */
    border-radius: 0,625rem; /* Стилизация */
}

/* Позиционирование стрелок */
.swiper-button-next {
    right: 0,625rem; /* Расстояние от правого края */
}

.swiper-button-prev {
    left: 0,625rem; /* Расстояние от левого края */
}

/* Пагинация */
.swiper-pagination {
    position: absolute;
    bottom: 0,625rem;
}

@media (min-width: 125rem) {
    .section {
        margin-left: 18.75rem;
        margin-right: 18.75rem;
    }
    .section3 {
        margin-left: 18.75rem;
        margin-right: 18.75rem;
    }
    .avtext {
        font-size: 3.75rem;
        margin: 1.25rem;
        margin-top: 0.625rem;
    }
    .videoback {
        margin-left: 18.75rem;
        margin-right: 18.75rem;
    }
}