/* Убираем горизонтальную прокрутку и задаем базовые стили */
html, body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #0e1213;
    color: #ffffff;
    
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

/* Наследование box-sizing для всех элементов */
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    overflow-y: hidden; /* Отключаем горизонтальную прокрутку */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    align-items: center;
    font-family: Consolas, sans-serif;
    background-color: #0e121300;
    color: #00000000;
    font-size: 1.25rem; /* Размер шрифта 20px */
    box-sizing: border-box;
}

/* Добавляем стиль для плиток */
.tile {
    color: #b0b4b5;
    background-color: rgba(1, 1, 1, 0.313);
    align-self: center;
    min-width: 10%;
    margin: 10px;
    padding: 15px;
    border-radius: 1.175rem; /* 30px */
    padding-bottom: 10px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000042; /* Серый цвет для линии */
}
.time-progress {
    width: 100%;
    height: 2rem;
    margin-top: 5px;
    margin-bottom: -0.7rem;
    border-radius: 1.875rem; /* Закруглённые углы */
    background-color: #00000000;
    appearance: none;
}

.time-progress::-webkit-progress-bar {
    background-color: #00000052;
    border-radius: 15px;
}

.time-progress::-webkit-progress-value {
    background-color: #4caf50;  /* Зеленый цвет для прогресса */
    border-radius: 0.875rem; /* Закруглённые углы */
}
header {
    text-align: center;
    color: #1875d8;
    padding-left: 0.25rem;
    font-size: 2.7625rem; /* 25px */
    margin-top: 1.25rem;
    border-radius: 3.125rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}


.container-flex, .container-flex1 {
    display: flex; /* Добавлено для flex-расположения */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin-top: 0.5rem;
    margin-left: 0.25rem;
    flex-wrap: wrap;
    padding: 0.6375rem;
}
/* Секция с уроками */
#schedule1 {
    flex: 1; /* Занимает доступное пространство */
    min-width: 1rem; /* Минимальная ширина секции */
    background-color: rgba(44, 100, 143, 0.226); /* Цвет фона */
    padding: 1rem;
    border-radius: 1.875rem; /* Закруглённые углы */
    color: rgba(139, 191, 254, 0.614);
    text-align-last: left;
    backdrop-filter: blur(8px); /* Применяем блюр к фону */
}
.priority {
    color:rgb(45, 82, 185);
    font-size: 1.7625rem; /* 25px */
    text-align-last: center;
    padding-bottom: 10px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000042; /* Серый цвет для линии */
}
/* Секция с уроками */
#schedule {
    flex: 1; /* Не растягивается */
    width: 100%; /* Ширина блока */
    background-color: rgba(43, 144, 220, 0.226); /* Цвет фона */
    padding: 1rem;
    border-radius: 1.875rem; /* Закруглённые углы */
    color: rgb(187, 187, 187);
    text-align: left; /* Выравнивание текста */
    backdrop-filter: blur(8px); /* Применяем блюр к фону */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень для красоты */
}

nav a:hover,
nav a:focus {
    background-color: #0b062a3d;
}

h1, h2 {
    font-size: 3rem; /* 40px */
    color: #3c8cce;
    text-align-last: center;
}

h3 {
    margin-left: 1.25rem;
    font-size: 1.875rem; /* 30px */
}
h4 {
    margin-left: 1.25rem;
    font-size: 0.875rem; /* 30px */
    color: #3c8cce48;
    text-align-last: center;
}
.currenles {
    color:rgb(15, 140, 186);
    font-size: 1.7625rem; /* 25px */
    text-align-last: center;
    padding-bottom:  0.1rem; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000042; /* Серый цвет для линии */
}
.lesson-info {
        font-size: 2.8125rem; /* 45px */
        
}
.lesson2 {
        color: rgb(187, 232, 248);
        
}
.social-icon {
    width: 4.25rem; /* 100px */
    height: 4.25rem;
    margin-top: 1rem;
    border-radius: 3.125rem; /* 50px */
    transition: transform 0.3s ease;
    display: inline-block;
    object-fit: cover;
}

.section {
    background-color: rgba(99, 100, 100, 0.215);
    padding: 0.4375rem; /* 7px */
    margin: 1.5625rem; /* 25px */
    border-radius: 1.875rem; /* 30px */
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
    transform: translateY(1.875rem);
}

.lol {
    font-size: 3rem;
    color: #000000;
    padding-left: 1.5625rem;
}

.sectionles {
    background-color: rgba(5, 5, 5, 0.313);
    min-width: 14rem;
    min-width: 95%;
    padding: 0.7375rem; /* 7px */
    margin-top: -1.0625rem; /* 25px */
    margin-bottom: 0.5625rem; /* 25px */
    border-radius: 1.175rem; /* 30px */
    transform: translateY(1.175rem);
    padding-bottom: 10px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000042; /* Серый цвет для линии */
}
.sectionles2 {
    background-color: rgba(5, 5, 5, 0.313);
    min-width: 14rem;
    min-width: 95%;
    padding: 0.7375rem; /* 7px */
    margin-top: -1.0625rem; /* 25px */
    margin-bottom: 1.6625rem; /* 25px */
    border-radius: 1.175rem; /* 30px */
    transform: translateY(1.175rem);
    padding-bottom: 10px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000042; /* Серый цвет для линии */
}


.les2 {
    margin-bottom: 1.5625rem; /* 25px */
}

.sectionz {
    background-color: rgba(99, 100, 100, 0.215);
    padding: 0.4375rem; /* 7px */
    align-items: center;
    margin-right: 0.9125rem; /* 25px */
    margin-left: 0.5125rem; /* 25px */
    border-radius: 1.875rem; /* 30px */
    box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.1);
    transform: translateY(1.875rem);

    width: 100%;  /* Позволяет элементу сжиматься */
    max-width: 100%; /* Ограничивает максимальную ширину */
    height: auto;  /* Позволяет элементу сжиматься по высоте */
    display: inline-block;  /* Позволяет элементу сжиматься по содержимому */
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
#currentLessonShift1 {
    margin-bottom: 0.3rem;
    font-size: 1.75rem; /* 60px */
    padding-bottom: 0px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000019; /* Серый цвет для линии */
}
#currentLessonShift2 {
    margin-bottom: 0.3rem;
    font-size: 1.75rem; /* 60px */
    padding-bottom: 0px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000019; /* Серый цвет для линии */
}

#schedule h2 {
    color: #81bda6;
    text-align: center;
}

.lesson-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.shift {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.shift-title {
    background-color: #4CAF50; /* тот же цвет, что и для заголовка */
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center; /* название смены по центру */
    font-weight: bold;
}

.shift-lesson {
    font-size: 18px;
    text-align: left; /* урок выравнивается слева */
    width: 100%;
    margin-top: 5px;
    padding-left: 20px; /* немного отступаем от края */
}


@media (max-width: 46.875rem) { /* 750px */
    .menu-icon {
        touch-action: manipulation; /* Убирает задержку на мобильных устройствах */
    }

    h1, h2 {
        font-size: 1.6875rem; /* 35px */
    }
    h3 {
        font-size: 1.5625rem; /* 25px */
    }
    .lesson-info {
        font-size: 1.5625rem; /* 25px */
    }
    header {
        padding-left: 0rem;
        font-size: 2.0625rem; /* 25px */
        margin-top: 1.25rem;
        border-radius: 3.125rem;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        
    }
    .time-progress {
        width: 100%;
        height: 1.5rem;
        margin-bottom: -0.5rem;
        border-radius: 5rem;
        background-color: #00000000;
        appearance: none;
    }
}

/* Определение анимации fadeInZoom */
@keyframes fadeInZoom {
    0% {
        opacity: 0; /* Элемент невидим в начале */
        transform: scale(0.8); /* Элемент уменьшен */
    }
    100% {
        opacity: 1; /* Элемент полностью видим */
        transform: scale(1); /* Элемент в нормальном масштабе */
    }
}

/* Применение анимации к #schedule1 */
#schedule1 {
    animation: fadeInZoom 0.4s ease-out forwards;
    margin-bottom: 2rem;
}
.socials-container {
    display: flex;
    justify-content: center;
    gap: 1.875rem; /* 30px */
    border-radius: 3.125rem; /* 50px */
    animation: fadeInZoom 0.4s ease-out forwards;
}

.social-icon:hover {
    transform: scale(1.1);
    border-radius: 3.125rem; /* 50px */
}



.time-left {
    color: #198819; /* Белый цвет для текста */
}
@media (min-width: 60rem) {
    #schedule1 {
        flex: 0.5; /* Занимает доступное пространство */
        transform: scale(1.0) translateY(1rem); /* Масштаб в 150% и смещение по оси Y */
        transform-origin: top center; /* Масштабирование начинается от верхней центральной точки */
        min-width: 32rem;
        margin-bottom: 10rem;
    }
    #schedule {
        flex: 0.5; /* Занимает доступное пространство */
        transform: scale(1.1); /* Масштаб в 150% */
        transform-origin: top center; /* Масштабирование начинается от верхней центральной точки */
        margin-bottom: 5rem; /* Увеличенный отступ снизу от #schedule1 */
        max-height: 30%;
    }
    .socials-container {
        margin-top: 6.25rem;
    }
    .time-progress {
        width: 100%;
        height: 4rem;
        margin-top: 5px;
        border-radius: 5rem;
        background-color: #00000000;
        appearance: none;
    }
}

@media (min-width: 90rem) {
    #schedule1 {
        flex: 0.2; /* Занимает доступное пространство */
        transform: scale(1.4) translateY(1rem); /* Масштаб в 150% и смещение по оси Y */
        transform-origin: top center; /* Масштабирование начинается от верхней центральной точки */
        min-width: 45rem;
    }
    #schedule {
        flex: 0.5; /* Занимает доступное пространство */
        transform: scale(1.5); /* Масштаб в 150% */
        transform-origin: top center; /* Масштабирование начинается от верхней центральной точки */
        margin-bottom: 25rem; /* Увеличенный отступ снизу от #schedule1 */
        max-height: 30%;
    }
    .socials-container {
        margin-top: 6.25rem;
    }
    .time-progress {
        width: 100%;
        height: 4rem;
        margin-top: 5px;
        margin-bottom: -0.8rem;
        border-radius: 5rem;
        background-color: #00000000;
        appearance: none;
    }
}
.header-container {
    display: flex; /* Устанавливаем Flexbox */
    height: 5rem;
    align-items: center; /* Выравниваем элементы по вертикали */
    justify-content: space-between; /* Размещаем элементы по краям */
    padding: 1px 20px; /* Добавляем отступы для удобства */
    background-color: rgba(34, 77, 118, 0.822); /* (Опционально) Фон для заголовка */
    border-bottom: 1px solid #004586; /* (Опционально) Разделительная линия */
    backdrop-filter: blur(10px); /* Применяем блюр к фону */
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.menu-icon div {
    height: 4px;
    background-color: #0b6cad;
    border-radius: 2px;
}

/* Стили для панели инструментов */
.tools-panel {
    position: absolute;
    top: 0.6rem;
    right: 5px; /* Панель скрыта за пределами экрана */
    width: 15rem;
    height: 10rem;
    background-color: rgba(22, 51, 67, 0.833);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    border-radius: 1.125rem;
    visibility: hidden; /* Панель скрыта по умолчанию */
    opacity: 0; /* Прозрачность 0 при скрытой панели */
    pointer-events: none; /* Запрещаем взаимодействие, когда панель скрыта */
    transition: right 0.25s ease, opacity 0.25s ease, visibility 0s ease 0.1s;
    backdrop-filter: blur(5px); /* Применяем блюр к фону */
}

/* Когда панель активна, она появляется */
.tools-panel.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    right: 15px; /* Панель появляется справа от кнопки */
    transition: right 0.15s ease, opacity 0.15s ease, visibility 0s ease 0s;
}

/* Скрыть кнопку, когда панель активна */
.tools-panel.active + .menu-icon {
    display: none; /* Кнопка скрывается, когда панель активна */
}
/* Стили для ссылок на панели */
.tools-panel c {
    color: #2c557c;
    padding-bottom: 1px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000060; /* Серый цвет для линии */
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.5625rem; /* 25px */
}
/* Стили для ссылок на панели */
.tools-panel a {
    color: rgb(40, 107, 183);
    padding-bottom: 1px; /* Добавить немного отступа от текста до линии */
    border-bottom: 4px solid #00000017; /* Серый цвет для линии */
    display: block;
    text-decoration: none;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-size: 1.5625rem; /* 25px */
}


/* Стили для снежинок */
#snowflakes {
    position: absolute; /* Меняем fixed на absolute */
    top: 0;
    left: 50%;
    width: 94vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1000;
    display: flex;
    justify-content: top;
    align-items: top;
    transform: translateX(-50%);
}

.snowflake {
    position: absolute;
    top: -10px; /* Начинаем с верхней части экрана */
    background-color: rgba(255, 255, 255, 0.749);
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
    animation: fall linear infinite, fadeOut ease forwards;
}

@keyframes fall {
    0% {
        top: -10px;
        opacity: 1;
    }
    50% {
        top: 60vh;
        opacity: 0.8;
    }
    100% {
        top: 98vh;
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}